# Copia o crea este archivo como "secrets.properties"
# Copy or create a file to "secrets.properties"

# Coloca con tus valores de Firebase 
# Place your Firebase values here

# Google Sign-In Web Client ID

WEB_CLIENT_ID=YOUR_WEB_CLIENT_ID_HERE